/* Resetando margens e preenchimentos */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* Estilo do corpo */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

/* Cabeçalho */
header {
    background-color: #1e90ff;
    color: white;
    padding: 20px;
    text-align: center;
}

header h1 {
    margin-bottom: 10px;
    font-size: 2.5rem;
}

header nav ul {
    list-style-type: none;
}

header nav ul li {
    display: inline;
    margin-right: 20px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-weight: bold;
}

/* Seções */
section {
    padding: 20px;
    margin: 20px;
}

/* Seção Home */
section#home {
    text-align: center;
}

/* Seção de Jogos */
section#jogos {
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    gap: 20px;
}

section#jogos .game {
    width: 300px;
    background-color: #fff;
    border-radius: 10px;
    box-shadow: 0 4px 12px rgba(0, 0, 0, 0.1);
    padding: 20px;
    text-align: center;
    transition: transform 0.3s;
}

section#jogos .game:hover {
    transform: translateY(-10px);
}

section#jogos .game img {
    width: 100%;
    height: auto;
    border-radius: 10px;
    margin-bottom: 15px;
}

section#jogos .game h3 {
    font-size: 1.5rem;
    margin-bottom: 10px;
}

section#jogos .game p {
    font-size: 1rem;
    margin-bottom: 15px;
}

section#jogos .game .btn {
    display: inline-block;
    background-color: #1e90ff;
    color: white;
    padding: 10px 20px;
    border-radius: 5px;
    text-decoration: none;
    font-weight: bold;
    transition: background-color 0.3s;
}

section#jogos .game .btn:hover {
    background-color: #333;
}

/* Seção de Contato */
section#contato ul {
    list-style-type: none;
    text-align: center;
    padding: 0;
}

section#contato ul li {
    margin: 10px;
}

footer {
    text-align: center;
    padding: 20px;
    background-color: #1e90ff;
    color: white;
}

footer p {
    font-size: 0.9rem;
}

